# 🔴 PANIC: High Sensitivity Secrets Detected
DATABASE_URL=postgres://user:secret_pass_123@db.prod.internal:5432/saas_db
STRIPE_API_SECRET_KEY=sk_live_51M0abcdef1234567890qwertyuiop
JWT_SIGNING_SECRET=f47ac10b-58cc-4372-a567-0e02b2c3d479
REDIS_AUTH_TOKEN=aa897120bfec49281a

# 🟡 CAUTION: Environment Flags
PORT=8080
NODE_ENV=production
DEBUG_ENABLED=false
